<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jeongsu.mybatis.biz.repository.MemberMapperRepository">
    <insert id="insertMember" parameterType="jeongsu.mybatis.web.dto.MemberDto">
        insert into member (name, phone, email) values (#{name}, #{phone}, #{email})
    </insert>
</mapper>